.short-contact{
  background-color: $sec;
  padding: 15px 20px;
  color: $pri;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: fixed;
  z-index: 5;
  top: 50%;
  right: -51px;
  transform: translateY(-50%) rotate(-90deg);
  transition: all 0.3s ease;
  &:hover, &:focus{
    text-decoration: none;
    color: $sec;
    background-color: $pri;
  }
}

.clearfix{
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

.white-wrap{
  padding: 90px 0;
  background-color: $wt;
  @media screen and (max-width: 991px){
    padding: 45px 0;
  }
}

.gray-wrap{
  padding: 90px 0;
  background-color: #F6F6F6;
  @media screen and (max-width: 991px){
    padding: 45px 0;
  }
}

.nav-inner{
  padding: 25px 0;
  text-align: center;
  @media screen and (max-width: 767px){
    padding: 10px 0;
  }
  a{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    opacity: 0.4;
    margin: 0 15px;
    font-weight: 500;
    color: $bl;
    transition: all 0.3s ease;
    @media screen and (max-width: 767px){
      display: block;
      margin: 5px 0;
    }
    &:hover, &:focus, &.nuxt-link-exact-active{
      text-decoration: none;
      opacity: 1;
    }
  }
}

.map{
  width: 100%;
  height: 400px;
  @media screen and (max-width: 767px){
    height: 300px;
  }
}

.section-minititle{
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 500;
}

.slick-dots{
  bottom: 15px;
  li{
    button:before{
      color: #fff !important;
      opacity: 0.6 !important;
    }
  }
}

.search-p{
  margin-top: 30px;
  margin-bottom: 15px !important;
}

.search-index{
  li{
    color: $t;
    margin-bottom: 15px !important;
    h5{
      font-size: 18px;
      color: $t;
      margin-bottom: 0;
    }
    a{
      font-size: 16px;
      color: $pri;
    }
    &::marker{
      color: $t;
    }
  }
}