.kontak{
  .section-title{
    font-size: 28px;
    font-weight: 500;
    color: $bl;
    margin-bottom: 30px;
  }
  .info-kardiologi{
    p{
      font-size: 18px;
      line-height: 1.5;
      color: rgba($color: $bl, $alpha: 0.6);
      margin-bottom: 40px;
    }
    h6{
      font-weight: 500;
      color: $bl;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .socmed{
      display: inline-block;
      vertical-align: middle;
      color: $bl;
      margin-right: 10px;
      font-size: 24px;
    }
  }

  .form-control{
    background-color: #F8F8F8;
    border-color: #F8F8F8;
  }
}